@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Arabic-Thin.woff2") format("woff2"),
    url("../fonts/Montserrat-Arabic-Thin.woff") format("woff"),
    url("../fonts/Montserrat-Arabic-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Arabic-light.woff2") format("woff2"),
    url("../fonts/Montserrat-Arabic-light.woff") format("woff"),
    url("../fonts/Montserrat-Arabic-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Arabic-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Arabic-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Arabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Arabic-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Arabic-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Arabic-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Arabic-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Arabic-Bold.woff.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Arabic-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-Arabic-ExtraBold.woff") format("woff"),
    url("../fonts/Montserrat-Arabic-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Arabic-Black.woff2") format("woff2"),
    url("../fonts/Montserrat-Arabic-Black.woff") format("woff"),
    url("../fonts/Montserrat-Arabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}